name: Validation

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.5"
          cache: true

      - name: Run lint (Makefile)
        run: make lint

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.5"
          cache: true

      - name: Run unit tests and coverage (Makefile)
        run: |
          make coverage

      - name: Upload codequality artifacts
        uses: actions/upload-artifact@v6
        with:
          name: codequality
          path: codequality/

  no-diff:
    name: No-Diff Check
    runs-on: ubuntu-latest
    services:
      sonarqube:
        image: docker.io/library/sonarqube:25.12.0.117093-community
        ports:
          - 9000:9000
        env:
          SONAR_ES_BOOTSTRAP_CHECKS_DISABLE: "true"
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.5"
          cache: true

      - name: No-diff check (Makefile)
        run: make no-diff
